.p{
    padding: 50px;
    margin: 20px;
}
.ge{background-color: green;
padding: 20px;
font-size: 25px}
.ab{background-color: darkgrey;
padding: 20px;
font-size: 25px}
.cd{background-color: darkgrey;
padding: 20px;
font-size: 25px}
.fe{background-color: darkgrey;
padding: 20px;
font-size: 25px}
.me{padding-top: 30px}
.you{background-color: darkgrey;
padding: 20px;
font-size: 25px}
.he{background-color: red;
padding: 20px;
font-size: 25px}
.she{background-color: greenyellow;
padding: 20px;
font-size: 25px}
.is{background-color: darkgrey;
padding: 20px;
font-size: 25px}
